.font-family {
  font-family: "Arial", sans-serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.center-align {
  text-align: center;
}

.line-height {
  line-height: 1.5;
}

.letter-spacing {
  letter-spacing: 2px;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Horizontal offset, Vertical offset, Shadow Strength, color */
  /* negative(left) - positive(right) */
}

.line-through {
  text-decoration: line-through;
}

.remove-text-decoration{
  text-decoration: none;
}

/* COLORS */
.color-names{
  color: white;
  background-color: #ff6347;
}

.hexadecimal {
  /* #RRGGBB, where the RR (red), GG (green) and BB (blue) */
  /* 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E and F */
  color: #ffa500;
  /* #RRGGBBTT, where the RR (red), GG (green) and BB (blue) */
  /* 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E and F */
  background-color: #ffa60054;
}

.rgb{
  /* rgb(red, green, blue) */
  color: rgb(184, 10, 232);
  /* rgba(red, green, blue, alpha) */
  background-color: rgba(199, 9, 237, 0.166);
}

/* UNIT OF MEASUREMENT */
.absolute-unit {
  font-size: 20px;
}

.relative-unit-em {
  font-size: 2em;
}

.relative-unit-rem {
  font-size: 3rem;
}
