* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Background */
  background: rgb(18, 41, 158);
  background: linear-gradient(120deg, #4f4e4e, #000000);

  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh; /* Viewport Height */
}

/* HEADER */
header {
  font-size: 2rem; /* h1 size will be 2x bigger than default */
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM */
form input,
form button {
  padding: 0.5rem; /* add 0.5x of the font size as padding */
  font-size: 2rem; /* default size x2 */
  border: none;
  background: white;
}

form button {
  color: grey;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #000000;
  color: white;
}

/* TODO CONTAINER */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

/* BUTTONS */
.trash-btn,
.complete-btn {
  background-color: #f63c42;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background-color: #12cc3a;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
/* Reset the stylings of the select/dropdown. */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;

  color: #000000;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 13rem;
  font-size: 1rem;
  padding: 1rem;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #000000;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

/* Arrow */
.select::after {
  content: "\25BC";
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 1rem;
  background-color: #595959;
  cursor: pointer;
  pointer-events: none;
}
